<div class="d-flex justify-content-between">
    <div class="d-flex flex-row align-items-center">
        <div class="icon"> <i class="bx bxl-dribbble"></i> </div>
        <div class="ms-2 c-details">
            <h6 class="mb-0">Рога и копыта</h6> <span>{{ item.name }}</span>
        </div>
    </div>
    <div class="badge"> <span>4 days ago</span> </div>
</div>
<div class="mt-5">
    <h3 class="heading">{{ item.description }}</h3>
    <h3 class="heading">{{ price }} {{ item.currency }}</h3>
</div>